<!doctype html>
<html>
    <head>
        <style>
            p {
                color: purple;
            }

            #belangrijk {
                color:blue
            }
        </style>
    </head>
</html>